<%- include('includes/header') %>
<%- include('includes/cover') %>
<%- include('includes/welcome_dialog') %>
<%- include('includes/winner_dialog') %>

<div class="header">
		<div class="logo">
			<img src="images/logo.png" alt="Match 3">
		</div>
	</div>
	<div class="board">
		<div class="container">
			<%- include('includes/card') %>
		</div>
	</div>
	<%- include('includes/footer') %>